body {
  color: #222;
}
p:empty {
  display: none;
}

.nav-link {
  line-height: 1.25;
}

.list-chevrons {
  margin-bottom: 2em;
  padding: 0;

  @include media-breakpoint-up(lg) {
    padding-left: .6em;
  }

  li {
    list-style: none;

    @include media-breakpoint-up(lg) {
      display: inline-block;
    }

    &::before {
      // sass-lint:disable no-vendor-prefixes
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
      // sass-lint:enable no-vendor-prefixes
      color: $ucf-gold;
      content: '';
      display: inline-block;
      font: normal normal normal .8em/1 FontAwesome;
      line-height: 1;
      text-rendering: auto;
      width: 1.25em;
    }
  }

  a {
    text-decoration: none;

    @include hover-focus {
      text-decoration: underline;
    }
  }
}
button {
  background-color: #33c3f0;
  color: #fff;
  border: none;
  padding: 5px 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  cursor: pointer;
}
h1 {
  font-size: 36px;
  font-weight: normal;
  letter-spacing: -.1rem;
}
h4 {
  font-size: 30px;
  line-height: 1.35;
  letter-spacing: -.08rem;
  font-weight: 300;
}
h5 {
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: -.05rem;
  font-weight: 300;
}